/data/

.DS_Store

*.model
*.pyc
*.swp
*.whl

.eggs/
.idea/
.mypy_cache/
.pytest_cache/*
.spyproject/
.tox/
.vscode/

__pycache__/
build/
dist/
venv/
venv_py/

*.egg-info/


news/*.txt
news.db
wordcloud.png
